<tabset>
<tab heading="Leaders Near You">

  <div class="input-group">
    <span class="input-group-btn">
      <input style="width:400px" type="text" class="form-control" placeholder="Search by name...">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div><!-- /input-group -->

  <div class="leaders">

    <div class="col-sm-5 col-md-2" ng-repeat="people in peoples">
        <div class="thumbnail">
            <img style="width:250px;height:250px;" src={{people.picture}} alt="...">
            <div class="caption">
                <h3>{{people.name.first}} {{people.name.last}}</h3>
                <p>{{people.email}}</p>
                <p>
                    <a href="#/{{people.index}}" class="btn btn-primary" role="button">More Info</a>
                    <!-- <a href="#/{{people.index}}">More Info</a> -->
                    <a href="#" class="btn btn-default" role="button">Contact</a>

                </p>
            </div>
        </div>
    </div>

  </div>

</tab>

<tab heading="tab 2" class="main">
  <h3>This is tab 2</h3>
</tab>
</tabset>
