<div class="jumbotron">
  <div class="thumbnail">
      <img style="width:250px;height:250px;" src={{person.picture}} alt="...">
      <div class="caption">
        <small>Name</small>
          <h3>{{person.name.first}} {{person.name.last}}</h3>
          <small>Email</small>
          <p>{{person.email}}</p>
          <small>About</small>
          <p>{{person.about}}</p>
          <p>
              <a class="btn btn-default" role="button">Contact</a>

          </p>
      </div>
  </div>
  <p><a class="btn btn-primary btn-lg glyphicon glyphicon-chevron-left" href="#/" role="button"></a></p>
</div>
